<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Play</key>
	<array>
		<dict>
			<key>RefreshDelay</key>
			<integer>1</integer>
			<key>SpawnDelay</key>
			<integer>-1</integer>
			<key>Respawn</key>
			<true/>
			<key>NextLevel</key>
			<integer>30</integer>
			<key>Number</key>
			<integer>3</integer>
			<key>InactivityDelay</key>
			<real>1.5</real>
			<key>Squares</key>
			<dict>
				<key>SquareTypeBase</key>
				<integer>100</integer>
			</dict>
		</dict>
		<dict>
			<key>RefreshDelay</key>
			<real>0.8</real>
			<key>SpawnDelay</key>
			<integer>-1</integer>
			<key>Respawn</key>
			<true/>
			<key>NextLevel</key>
			<integer>45</integer>
			<key>Number</key>
			<integer>4</integer>
			<key>InactivityDelay</key>
			<real>1.2</real>
			<key>Squares</key>
			<dict>
				<key>SquareTypeExponential</key>
				<integer>20</integer>
				<key>SquareTypeBase</key>
				<integer>80</integer>
			</dict>
		</dict>
		<dict>
			<key>RefreshDelay</key>
			<real>0.6</real>
			<key>SpawnDelay</key>
			<integer>-1</integer>
			<key>Respawn</key>
			<true/>
			<key>NextLevel</key>
			<integer>60</integer>
			<key>Number</key>
			<integer>4</integer>
			<key>InactivityDelay</key>
			<real>1</real>
			<key>Squares</key>
			<dict>
				<key>SquareTypeResilient</key>
				<integer>10</integer>
				<key>SquareTypeExponential</key>
				<integer>20</integer>
				<key>SquareTypeBase</key>
				<integer>70</integer>
			</dict>
		</dict>
	</array>
	<key>Hardcore</key>
	<array>
		<dict>
			<key>RefreshDelay</key>
			<integer>0</integer>
			<key>SpawnDelay</key>
			<real>0.3</real>
			<key>Respawn</key>
			<false/>
			<key>NextLevel</key>
			<integer>-1</integer>
			<key>Number</key>
			<integer>-1</integer>
			<key>InactivityDelay</key>
			<integer>-1</integer>
			<key>Squares</key>
			<dict>
				<key>SquareTypeResilient</key>
				<integer>15</integer>
				<key>SquareTypeIndestructible</key>
				<integer>9</integer>
				<key>SquareTypeGameOver</key>
				<integer>1</integer>
				<key>SquareTypeExponential</key>
				<integer>15</integer>
				<key>SquareTypeBase</key>
				<integer>60</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>
